.button-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

button{
    width: 75px;
    height: 70px;
    margin: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgb(137, 136, 136);
    font-size: 30px;
}

